/.vs/dirichilet/v15/.suo
/dirichilet/__pycache__/bupclustering.cpython-35.pyc
/dirichilet/__pycache__/interface.cpython-35.pyc
/dirichilet/__pycache__/tsne.cpython-35.pyc
/dirichilet/__pycache__/utils.cpython-35.pyc
